*
{
	margin: 0px;
	padding: 0px;
}

label
{
	font-size: 16px;
    display: inline-block;
    float: left;
    clear: left;
    width: 150px;
    text-align: right;
    margin-top: 10px;
}

input {
	display: inline-block;
  	float: left;
  	margin-top: 10px;
}

#frontBanner
{
	width: 100%;
	height: 200px;
	background-color: green;
}

#landingPage
{
	width: 80%;
	height: 650px;
	margin: 0 auto;
	margin-top: 30px;
	margin-bottom: 30px;
	border: solid black 1px;
}

#registerPage
{
	width: 80%;
	height: 650px;
	margin: 0 auto;
	margin-top: 30px;
	margin-bottom: 30px;
	border: solid black 1px;
}

#registerBtn
{
	height: 40px;
	width: 80px;
	margin-left: 40px;
}

#loginBtn
{
	height: 40px;
	width: 80px;
	margin-left: 160px;
}

.welcomeInfo
{
	text-align: center;
	font-size: 30px;
}

.alignFormCenter
{
	margin: 0 auto;
	width: 400px;
}

.cornerButtons
{
	float: right;
	margin-top: 5px;
	margin-right: 5px;
	height: 40px;
	width: 80px;
}

.clearFloat
{
	clear: both;
}